<div class="@container">
  @if (query.isPending()) {
    <div class="flex justify-center items-center h-screen bg-yellow-200">
       <img src="./pokemon.png" alt="">
    </div>
    }
  @if (query.isError()) {
    <div class="flex justify-center items-center h-screen bg-red-200">Error</div>
    }
  @if (query.isSuccess()) {
    <div class="mt-4">
    <h2 class="text-lg font-bold mb-2">Pokémons</h2>
    <div>
      <div class="grid grid-cols-2 md:grid-cols-6 gap-4 p-4">
        @for(pokemon of query.data()?.pokemon; track pokemon.id) {
        <div class="bg-gray-50 hover:bg-gray-100 hover:shadow-lg rounded text-center flex flex-col mb-10 h-[15rem]">
          <div class="flex justify-center w-full">
            <img src="{{ pokemon.img }}" alt="{{ pokemon.name }}" class="h-32 hover:scale-150 transition-all duration-300" />
          </div>
          <div class="flex flex-col py-0 px-4 h-full">
            <strong class="text-sm mt-4">{{ pokemon.name }}</strong>
            <div class="flex flex-col mt-2 gap-1">
              @for(type of pokemon.type; track type.id) {
                <span class="text-sm">{{ type }}</span>
              }
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
